<h2>Home>>About:</h2>
<hr style="color:hsla(240, 78%, 2%, 0.986)">
<div class="container">
  <h3>COURSE LEARNING APPLICATION</h3>
  <p style="color:rgb(3, 3, 22) ; font-weight: bold; "> A course management system (CMS) is an enterprise software system dedicated to automating and optimizing Instructor-Led Training and virtual Instructor-Led Training (ILT/vILT) management. Essentially, its core purpose is to help administrators at training organizations.</p>
<ul type="square" style="font-weight: bold; ">
  <li>An area for faculty posting of class materials such as course syllabus and handouts</li>
  <li>An area for student posting of papers and other assignments</li>
  <li>A gradebook where faculty can record grades and each student can view his or her grades</li>
  <li>An integrated email tool allowing participants to send announcement email messages to the entire class or to a subset of the entire class</li>
  <li>A threaded discussion board allowing asynchronous communication among participants</li>
</ul>
</div>
