

<table class="table table-striped table-hover">
  <thead>
    <tr>
      
      <th scope="col">Name</th>
      <th scope="col">Course</th>
      <th scope="col">Trainer</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <td>RAVI</td>
      <td>JAVA</td>
      <td>JOHN</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-success">
  <strong>L1 Exam is on April-18 2022...!</strong>
</div>

<div class="row">
  <div class="col-sm-3">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/java1.jfif" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">JAVA Material</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">PDF</a>
    <a href="#" class="card-link">PPT</a>
  </div>
</div>
</div>

<div class="col-sm-3">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/java5.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Video tutorials</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">edureka</a>
    <a href="#" class="card-link">code.java</a>
  </div>
</div>
</div>

<div class="col-sm-3">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/assets/java6.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Online Compilers</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-body">
      <a href="https://www.onlinegdb.com/online_java_compiler" class="card-link">Onlinegdb</a>
      <a href="#" class="card-link">code.java</a>
    </div>
  </div>
  </div>

<div class="col-sm-2">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="/assets/java3.jfif" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Best websites</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body">
    <a href="#" class="card-link">W3</a>
    <a href="#" class="card-link">Udemy</a>
  </div>
</div>
</div>

</div>
<router-outlet></router-outlet>
