
<div>
	<h3 style="text-align:center">ADMIN DASHBOARD</h3>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-7">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
	  Add New Student
	</button>&nbsp;&nbsp;
   <button type="button" class="btn btn-danger" (click)="deleteallstudents()">
	  DeleteAll
	</button>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-2">
	
	<button class="btn btn-primary"  type="submit" onclick="location.href = 'http://localhost:4200/login/admin-login';">Logout</button>

</div>
</div>






<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		 <div class="modal-content">
			  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">ADD STUDENT</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						 </button>
				 </div>
				<div class="modal-body row">
					<form #addform="ngForm">
						<div class="form-group">
						  <label for="name">Your Name</label>
						  <input type="text" #n1="ngModel" class="form-control" id="name"  ngModel name="name" required>
						  <div *ngIf="n1.touched && n1.invalid">
							<small style="color:red" *ngIf="n1.errors.required" class="error">*NAME IS REQUIRED</small>
							<small style="color:red" *ngIf="n1.errors.maxlength">* SHOULD BE MAXIMUM 20 CHARACTERS</small>
						   
						</div>
						 
						</div>

						<div class="form-group">
						  <label for="gender">GENDER</label>
						  <select class="select" type="text"  #n2="ngModel" class="form-control" id="gender" ngModel name="gender" required>
							<option value="0" disabled>Gender</option>
							<option value="FEMALE">Female</option>
							<option value="MALE">Male</option>
							<option value="OTHERS">Other</option>
							<div *ngIf="n2.touched && n2.invalid">
							  <small style="color:red" *ngIf="n2.errors.required" class="error">*GENDER IS REQUIRED</small>
							  
						  </div>
						  </select>
						</div>


						<div class="form-group">
						  <label for="emailid">Email ID</label>
						  <input type="email" #n3="ngModel" class="form-control" id="emailid"  ngModel name="emailid" required >
						  <div *ngIf="n3.touched && n3.invalid">
							<small *ngIf="n3.errors.required" class="error">*EMAIL ID IS REQUIRED</small>
							
						</div>
						 
						</div>
			  
						
					  
						<div class="form-group">
						  <label for="pwd">PASSWORD</label>
						  <input type="password" #n4="ngModel" class="form-control" id="pwd" ngModel name="pwd" required >
							 <div *ngIf="n4.invalid && n4.touched">
									 <small style="color:red" *ngIf="pwd.errors.required">*PASSWORD IS REQUIRED</small>
									 <small style="color:red" *ngIf="pwd.errors.minlength">*PASSWORD SHOULD BE MINIMUM 8 CHARACTERS</small>
						   
							 </div> 
						</div>
					   
	
					   
						<div class="form-group">
						  <label for="course">COURSE</label>
						  <select class="select" type="text" #n6="ngModel" class="form-control" id="course" ngModel name="course" required>
							<option value="0" disabled>Course</option>
							<option value="JAVA">JAVA</option>
							<option value="PYTHON">PYTHON</option>
							<option value="SPRINGBOOT">SPRINGBOOT</option>
							<option value="ANGULAR">ANGULAR</option>
							
						  <div *ngIf="n6.invalid && n6.touched">
							<small style="color:red" *ngIf="mycourse.errors.required">*COURSE IS REQUIRED</small>
						  </div>
						  </select>
						</div>
						 
						<button class="btn btn-primary" type="submit" value="SUBMIT" (click)="storeDataADD(addform)">Add</button>&nbsp;&nbsp;
						<button class="btn btn-primary" type="reset" value="reset">Reset</button>
						<div class="alert alert-success" role="alert" *ngIf="flag">
						   {{msg}}
						</div>
					  </form>
			  
				</div>
						 
</div>
</div>
</div>









<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		 <div class="modal-content">
			  <div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						  <span aria-hidden="true">&times;</span>
						 </button>
				 </div>
				<div class="modal-body row">
					
						<form #updateform="ngForm">
							<div class="form-group">
							  <label for="id">ID</label>
							  <input type="text" #n1="ngModel" class="form-control" id="id"  ngModel name="id" required>
							 
							 
							</div>
							
							<div class="form-group">
							  <label for="emailid">Email ID</label>
							  <input type="email" #n3="ngModel" class="form-control" id="emailid"  ngModel name="emailid" required >
							  <div *ngIf="n3.touched && n3.invalid">
								<small *ngIf="n3.errors.required" class="error">*EMAIL ID IS REQUIRED</small>
								
							</div>
							 
							</div>
				  
					
						   
							
						   
							
							 
							<button class="btn btn-primary" type="submit" value="SUBMIT" (click)="updatestudent(updateform)">UPDATE</button>&nbsp;&nbsp;
							<button class="btn btn-primary" type="reset" value="reset">Reset</button>
							<div class="alert alert-success" role="alert" *ngIf="flag">
							   {{msg}}
							</div>
						  </form>
					  
				</div>
						 
</div>
</div>
</div>




<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">

<table class="table table-info table-striped">
	
	  <tr class="table-dark">
		<td scope="col">ID</td>
		<td scope="col">NAME</td>
		<td scope="col">GENDER</td>
		<td scope="col">EMAIL ID</td>
		<td scope="col">PASSWORD</td>
		<td scope="col">COURSE</td>
		<td scope="col"></td>
	  </tr>
	
	
	  <tr class="table-info" *ngFor="let student of students">
		
		<td scope="col">{{student.id}}</td>
		<td scope="col">{{student.name}}</td>
		<td scope="col">{{student.gender}}</td>
		<td scope="col">{{student.email}}</td>
		<td scope="col">{{student.password}}</td>
		<td scope="col">{{student.course}}</td>
		<td scope="col">
			<button class="btn btn-success" data-toggle="modal" data-target="#updateModal">UPDATE</button>
			<button class="btn btn-danger mx-3" (click)="deleteData1(student.id)">DELETE</button>
		</td>
	 
	
  </table>
	</div>
	<div class="col-md-1"></div>
</div>