<div class="container">
  <div class="app" >
    <h1 >Course Learning Application</h1>
    
    
   
  </div>
  


<div class="form-inline my-8 my-lg-9" >
  <button class="btn btn-primary" type="button" routerLink="/login/admin-login">Login</button>&nbsp;&nbsp;
  <button class="btn btn-success" type="button" routerLink="/register/student-register">register</button>
</div>
</div> 
<div class="card-group" >
  <div class="row">
    <div class="col-md-3">
  <div class="card" style="height: 500px;">
    <img class="card-img-top" src="/assets/download.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">JAVA </h5>
      <p class="card-text">One of the most widely used programming languages, Java is used as the server-side language for most back-end development projects, including those involving big data and Android development. Java is also commonly used for desktop computing, other mobile computing, games, and numerical computing.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  
  </div>
  <div class="col-md-3">
  <div class="card" style="height: 500px;">
    <img class="card-img-top" src="/assets/python.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">PYTHON</h5>
      <p class="card-text">Python is a computer programming language often used to build websites and software, automate tasks, and conduct data analysis. Python is a general-purpose language, meaning it can be used to create a variety of different programs and isn't specialized for any specific problems.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
  <div class="col-md-3">
  <div class="card" style="height: 500px;">
    <img class="card-img-top" src="/assets/angular.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">ANGULAR</h5>
      <p class="card-text">Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your applications.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
  <div class="col-md-3">
  <div class="card" style="height: 500px;">
    <img class="card-img-top" src="/assets/SPRING.jfif" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">SPRING BOOT</h5>
      <p class="card-text">Spring Boot is an open source, microservice-based Java web framework. The Spring Boot framework creates a fully production-ready environment that is completely configurable using its prebuilt code within its codebase.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  </div>
</div>
</div>